//
//  RdioCredentials.swift
//  album-shuffle-swift
//
//  Created by Eric Fikus on 9/9/14.
//  Copyright (c) 2014 Eric Fikus. All rights reserved.
//

import Foundation

let RdioConsumerKey = "your key"
let RdioSecret = "your secret"
